:root {
  --grey: #434342;
  --blue: #a9e3e3;
  --white: #fff;
  --black: #000;
  --dark-grey: rgb(37, 37, 37);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  background: linear-gradient(to right, rgb(56, 56, 56), #000);
  position: relative;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: var(--grey);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #a9e3e386;
  outline: 1px solid var(--black);
  border-radius: 1.5rem;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 40px;
  background-color: transparent;
  color: var(--white);
  align-items: center;
  height: 60px;
  margin-top: 0px;
  z-index: 6;
  transition: background 0.8s;
}
nav::after {
  content: "";
  display: block;
  background: var(--blue);
  height: 5px;
  width: 100vw;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.navBg {
  background: var(--dark-grey);
}
nav h1 {
  font-size: 3rem;
  font-family: "Lobster", cursive;
  font-weight: 800;
  /* text-shadow: 0px 3px 0px var(--blue); */
  transform: translate(0, -0.1rem);
  color: var(--white);
  transition: transform 0.3s;
}
nav a {
  color: var(--white);
}
nav h1:hover {
  transform: translate(0, 0.2px);
}
nav ul {
  display: flex;
  margin-right: 60px;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#welcome-section div {
  text-align: center;
  padding: 10px 25px;
  position: relative;
}
#welcome-section div::after {
  content: "";
  background-color: var(--blue);
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -15px;
  animation-name: headings;
  animation-timing-function: ease-in-out;
  animation-duration: 1.55s;
  border-radius: 5px;
}
@keyframes headings {
  0% {
    width: 0px;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
#welcome-section h1 {
  transform: translateY(0px);
  font-size: 6rem;
  font-family: "Lobster", cursive;
}
#welcome-section p {
  color: var(--blue);
  font-size: 1.1rem;
  letter-spacing: 0.6rem;
  padding-top: 55px;
}
.mouse-scroll {
  color: white;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* mouse animation */
.mouse-scroll p {
  font-size: 12px !important;
  padding-top: 12px !important;
  letter-spacing: 8px;
  text-indent: 12px;
  color: #ffffff;
  animation: colorText 8s ease-out infinite, nudgeText 8s ease-out infinite;
}
.mouse {
  background: #4e5559
    linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: relative;
  width: 26px;
  height: 44px;
  border-radius: 100px;
  background-size: 100% 200%;
  animation: colorSlide 8s linear infinite, nudgeMouse 8s ease-out infinite;
}
.mouse:before,
.mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: 23px;
  height: 42px;
  background-color: #222a30;
  border-radius: 100px;
}
.mouse:after {
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  animation: trackBallSlide 8s linear infinite;
}
@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%,
  100% {
    background-color: #ffffff;
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-14px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(36px);
  }
  15%,
  19% {
    opacity: 0;
    transform: scale(0.4) translateY(-14px);
  }
  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-14px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-14px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(36px);
  }
  45%,
  49% {
    opacity: 0;
    transform: scale(0.4) translateY(-14px);
  }
  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-14px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-16px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(36px);
  }
  75%,
  79% {
    opacity: 0;
    transform: scale(0.4) translateY(-14px);
  }
  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-14px);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}

/* mouse animation */

.scroll-assist {
  position: absolute;
  top: -140px;
  visibility: hidden;
}
#about {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  border-radius: 25px;
  color: #fff;
  position: relative;
  padding-bottom: 60px;
  width: 90%;
  margin-bottom: 100px;
}
.about-me {
  margin: 15px 10px 35px;
}
#about p {
  color: #d1d1d1;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
}
.skills {
  color: var(--blue);
  max-width: 590px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-icon {
  margin: 1rem 2rem;
}

#projects {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  border-radius: 25px;
  color: #fff;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 100px;
  width: 90%;
}

h2 {
  margin: 50px 0 30px 0;
  font-size: 3rem;
  font-weight: 800;
  z-index: 5;
  position: relative;
  color: var(--white);
  text-shadow: 1px 1px var(--grey);
}
h2::after {
  content: "";
  background-color: var(--blue);
  width: 110%;
  height: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  z-index: -1;

  transition: 0.45s ease-in-out;
}
h2:hover::after {
  bottom: -5px;
  height: 105%;
}

figure {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 80px 40px;
  margin: 40px auto;
  border-radius: 5px;
  width: 80%;
}
.img {
  width: 45%;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure figcaption {
  width: 45%;
}
figcaption h3 {
  margin: 0 0 40px;
  font-size: 20px;
  background-color: var(--blue);
  color: var(--dark-grey);
  font-weight: 800;
  letter-spacing: 1.5px;
  padding: 10px 15px;
  text-align: center;
}
figcaption p {
  margin-bottom: 20px;
  text-align: justify;
}
figcaption .project-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
figcaption a {
  color: white;
  margin: 5px !important;
}
#contact {
  display: flex;
  width: 90%;
  padding: 30px 50px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
  background: var(--white);
  margin: auto;
  border-radius: 25px;
  position: relative;
  color: var(--black);
  padding-bottom: 50px;
  margin-bottom: 100px;
}
#contact h2 {
  color: var(--black);
  text-shadow: none;
}
#contact h3 {
  margin: 40px 0 10px;
  font-size: 20px;
  background-color: var(--blue);
  padding: 10px 15px;
}
#contact div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
}

.phone {
  position: relativae;
}
.fa-phone-square-alt {
  visibility: visible;
  user-select: none;
}

.c-icon {
  color: var(--black);

  margin: 2px 2px;
}
i {
  transition: transform 0.18s ease-out;
}
i:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.phone-nmb {
  visibility: hidden;
  position: absolute;
  background: var(--black);
  color: var(--white);
  padding: 10px 15px;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 3px;
  transform: translate(-25%, -330%);
}

footer {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.288);
  display: block;
  margin-top: 40px;
}
footer p {
  display: block;
  text-align: center;
}

.btn-shadow {
  margin-right: 20px;
  background: #000;
  border: var(--blue) 1px solid;
  box-sizing: border-box;
  color: var(--white);
  text-shadow: 1px 1px 1px var(--black);
  letter-spacing: 3px;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px var(--blue);
  font-size: 0.9rem;
  transition: box-shadow 0.25s ease-in-out;
  text-align: center;
}
.btn-shadow:hover {
  box-shadow: inset 0px -50px 0px var(--blue);
}
p {
  line-height: 30px;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
form label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form textarea {
  border: none;
  border-bottom: 2px solid rgb(214, 214, 214);
  width: 100%;
  min-width: 300px;
  padding: 5px 15px;
  margin: 10px 15px;
  box-sizing: border-box;
}
form input::placeholder,
form textarea::placeholder {
  color: rgb(195, 195, 195);
}

form textarea {
  height: 100px;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--blue);
}

#submit-btn {
  margin: 20px auto !important;
  width: 80%;
}

.hamburger {
  display: none;
}

@media (max-width: 850px) {
  nav {
    align-items: center;
    padding: 10px;
  }
  nav h1 {
    font-size: 2rem;
    font-family: "Lobster", cursive;
    font-weight: 800;
  }
  nav ul {
    display: none;
    position: absolute;
  }
  nav ul li a {
    font-size: 12px !important;
    padding: 5px 12px !important;
    letter-spacing: 1.5px !important;
  }
  .hamburger {
    color: var(--blue);
    margin-right: 20px;
    display: block;
    position: absolute;
    right: 10px;
  }

  figure {
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 90%;
  }

  figure figcaption {
    width: 90%;
    margin-bottom: 25px;
  }
  .img {
    height: auto;
    margin-bottom: 20px;
  }

  #welcome-section h1 {
    font-size: 3rem;
  }
  #welcome-section p {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    padding-top: 45px;
  }
  .mouse-scroll p {
    text-indent: 2.5px;
  }
  #about p {
    font-size: 01rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 20px;
  }
  #contact h2 {
    font-size: 2rem;
  }
  .phone-nmb {
    transform: translate(-25%, -270%);
  }
  #contact h3 {
    margin: 20px 0 10px;
    font-size: 15px;
  }
}
